<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="row">
  <table>
    <tr>
      <td>
        <a href="/" class="menu">
          <img class="img-responsive" src="assets/images/menu.png">
        </a>
      </td>

      <td>
        <a href="/" class="login">
          <img class="img-responsive" src="assets/images/Bustlelogo.jpg">
        </a>
      </td>
      <td>
        <div class="topnav">

          <a href="https://www.instagram.com/"><i style="font-size:20px color: #d3d3d3" class="fa">&#xf16d;</i></a>
          <a href="https://www.flickr.com/photos/"><i style="font-size:20px color: #d3d3d3" class="fa">&#xf16e;</i></a>
          <a href="https://www.youtube.com/user/"><i style="font-size:20px color: #d3d3d3 " class="fa">&#xf167;</i></a>
          <a href="https://twitter.com/"><i style="font-size:20px color: #d3d3d3" class="fa">&#xf099;</i></a>
          <a href="https://www.facebook.com/"><i style="font-size:20px color: #d3d3d3" class="fa fa-facebook"></i></a>
          <label for="searchCheckbox" class="cF" tabindex="0"> <img src="https://cdn.bustle.com/bustle/production/public/search-268eb1.svg" alt="">
          </label>
        </div>


      </td>








    </tr>
  </table>

</div>
