
  .login img{
    /* height: 50px;
    width: 50px; */
    background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      bottom: 0;
      left: 0;
      right: 0;
      top: 0;
      margin: auto;
      margin-left: 400px;
      text-align: center;
      width: 105px;
      margin-top: 40px;
  }
  .menu img{
    height: 24px;
    width: 24px;
    margin-top: 40px;
    /* cursor: pointer;
    height: 30px;
    margin-top: 20px;
    margin: auto;
    padding: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 30px;
    transition: all 0.3s;
    margin-left: 50px; */

  }

.btn-danger{
  background-color: #CA0183;
  padding: 0.357em 1.071em;
}
.top-bar .user-action .login{
  margin-right: -15px;
}
.button{
  float: right;
}
.user-action ul, li, a{
  display: inline-block;
  list-style: none;
  margin-left:1.071em;
  padding:0px;
  position: relative;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}
.header{
  background-color: #fff;
  padding-top: 1.071em;
}
nav{
  position: relative;
  text-align: right;
  max-width:100%;
  overflow: visible !important;
  margin-left: 60px;
  margin-top: 25px;
}
.top-bar{
  /*margin-top: 1.071em;*/
  border-bottom: 1px of dotted black line;
  /*float: right;*/
}
.header li {
  float: left;
  margin: 0.5355em,1.071em,0.5255em,1.071em;
}
/*.user-action, ul, li {
  display: inline-block;
  list-style: none;
  padding: 0px;
  position: relative;
  margin-bottom: 10px;
}*/
li:hover{
  border-bottom: solid 4px #CA0183;
}
.why{
  position: absolute;
  z-index: 1;
  border: solid .5px black;
  margin-top: 25px;
  padding: 5px 5px;
  background-color: #fff;
}
.why .info li{
  display: block;
  float: none !important;
}
.hoverItem{
z-index: -1;
}
.icons {
  cursor: pointer;
  height: 100px;
  width: 100px;
  background-color: transparent;
  /*background-image: url(https://cdn.bustle.com/bustle/production/public/search-268eb1.svg);*/
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  margin-top: 16px;
  margin-right: 150px;
  position: absolute;
  right: 40px;
  top: 0;
  vertical-align: top;
  color: #000000;

  /*margin-top: 25%;
  bottom: 1%;
  left: 25%;
  position: relative;
  width: 10%;
  vertical-align: bottom;
  text-align: center;*/
  font-size: 20px;

padding: 1%
}

.icons a {
color: #000000;
margin: 2% 2% 2% 2%;
}
.topnav{
  margin-left: 200px;
  /* padding-bottom: 30px;
  margin-bottom: 50px; */
  opacity: inherit;
  margin-top: 30px;

}
.row{
  margin: auto;
  align-content: flex-start;
  display: inline;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;

}
.cF {
    cursor: pointer;
    height: 30px;
    width: 30px;
    background-color: transparent;
    /* background-image: url(https://cdn.bustle.com/bustle/production/public/search-268eb1.svg); */
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
    margin-right: 200px;
    position: absolute;
    right: 40px;
    top: 0;
    vertical-align: top;
    margin-top: 20px;

}
/* .world img{
  height:25px;
  width:25px;
  margin-left: 250px;
  margin-top: 20px;
} */

.topnav img{
  height: 25px;
  width: 25px;

}

.fa{
  color: #D3D3D3;

}
.sidenav {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #85baff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.sidenav img{
    /* background-position: center; */
    /* background-size: 100%; */
    background-repeat: no-repeat;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    margin-left: 400px;
    text-align: center;
    width: 105px;
    margin-top: 40px;
    color: white;
}
