
<div class="col-md-2">

</div>
<div class="col-md-8">


  <a href="/" class="intro">
    <img  src="assets/images/intro.jpg">
  </a>
  <div class="secimage">


  <img alt="" src="https://imgix.bustle.com/uploads/image/2018/8/14/7598761b-91ca-4534-adab-9f41584c5f38-edit_hero_2.jpg?w=945&amp;h=435&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70" srcset="https://imgix.bustle.com/uploads/image/2018/8/14/7598761b-91ca-4534-adab-9f41584c5f38-edit_hero_2.jpg?w=400&amp;h=209&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70 400w, https://imgix.bustle.com/uploads/image/2018/8/14/7598761b-91ca-4534-adab-9f41584c5f38-edit_hero_2.jpg?w=400&amp;h=209&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70&amp;dpr=2 800w, https://imgix.bustle.com/uploads/image/2018/8/14/7598761b-91ca-4534-adab-9f41584c5f38-edit_hero_2.jpg?w=945&amp;h=435&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70 945w, https://imgix.bustle.com/uploads/image/2018/8/14/7598761b-91ca-4534-adab-9f41584c5f38-edit_hero_2.jpg?w=945&amp;h=435&amp;fit=crop&amp;crop=faces&amp;auto=format&amp;q=70&amp;dpr=2 1890w" sizes="(min-width:768px) 945px, 400px">
</div>
<div class="hH">
  <h3 class="hO">Buy Your Tickets For Bustle’s Rule Breakers Event, Starring Janelle Monáe</h3>
  <div class="hP">Attention, everyone: Bustle's inaugural Rule Breakers event is almost here. Celebrating female and non-binary boundary breakers everywhere, the day-long event takes place Sept. 22 at the LeFrak Center at Lakeside in Brooklyn's Prospect Park. Since…</div>
  <div class="hQ"><cite class="hR">By Stephanie Downs</cite>
  </div>
</div>
</div>
<div class="col-md-2">

</div>
