<div class="news">
  <div class="row">
    <div class="col-md-3">

    </div>

    <div class="col-md-6">
      <ng-container *ngFor="let article of data.articles">



       <div *ngIf='article.urlToImage!=null && article.description!=null || article.description!="" && article.title!=null && article.author!=null '>
        <div class="box">

        <div class="card card-default">




          <a href="{{article.url}}"> <h2 class="card-header t">{{article.title}}</h2>

            <div class="card-body">

              <div class="pic">


                <img src="{{article.urlToImage}}" alt="">
              </div>
              <p class="s">{{article.description}}</p>
              <cite class="h">{{article.author}}</cite>
            </div>
          </a>

        </div>
        </div>
        </div>
      </ng-container>
    </div>
    <div class="col-md-3">

    </div>

  </div>

</div>
