<!--The content below is only a placeholder and can be replaced.-->

<div style="text-align:center">
</div>
<div ng-app="myApp" class="container" ng-controller="customersCtrl">
  <!-- <app-create-keg [childKegList]="masterKegList" (sendKeg)="addNewKeg($event)"></app-create-keg> -->
  <!-- <div>
    <h3>Select sort method</h3>
    <input type="radio" [(ngModel)]="selectedTask.arange" [value]="1"><br>
    <input type="radio" [(ngModel)]="selectedTask.arange" [value]="2"><br>
    <input type="radio" [(ngModel)]="selectedTask.arange" [value]="3">
  </div> -->
  <app-navbar></app-navbar>

  <app-header></app-header>
  <app-footer></app-footer>

</div>
