<!--The content below is only a placeholder and can be replaced.-->


  <!-- <app-create-keg [childKegList]="masterKegList" (sendKeg)="addNewKeg($event)"></app-create-keg> -->
  <!-- <div>
    <h3>Select sort method</h3>
    <input type="radio" [(ngModel)]="selectedTask.arange" [value]="1"><br>
    <input type="radio" [(ngModel)]="selectedTask.arange" [value]="2"><br>
    <input type="radio" [(ngModel)]="selectedTask.arange" [value]="3">
  </div> -->

<div class="container">
  <div class="row">
    <app-header></app-header>
  </div>

  <div class="row">
    <app-imageslide1></app-imageslide1>
  </div>


  <div class="row">
      <app-body></app-body>
  </div>



  <div class="row">
    <app-footer></app-footer>
  </div>


</div>
